* {
    margin: 0;
    padding: 0
}

.container {
    width: 220px;
    margin: auto;
    background: #7f8fa6;
    text-align: center;
}

.part-display {
    height: 40px;
    padding: 10px;
    color: #f5f6fa;
    font-size: 22px;
    line-height: 40px;
    text-align: right;
}

/* Font-size adjustment when inputted length is over 18 word. */
.adjust_font {
    height: 40px;
    padding: 10px;
    color: #f5f6fa;
    font-size: 18px;
    text-align: right;
    word-wrap: break-word;
}

button {
    width: 50px;
    height: 50px;
    margin-bottom: 4px;
    background: #353b48;
    border: none;
    outline: none;
    color: #dcdde1;
    font-size: 22px;
    cursor: pointer;
}

button:active {
    background: #f5f6fa;
}

.fn_key {
    background: #718093;
}

.operator {
    background: #e1b12c;
}

.num-zero {
    width: 104px;
}

/* only PC */
@media (hover: hover) {
    button:hover {
        background: #353b48de;
    }
}